{
	admin off
	log {
		output stdout
		format console
	}

	servers {
		enable_full_duplex
		protocols h1 h2c
	}
}

:8080 {
	root * /app/index
	file_server browse

	header {
		X-Robots-Tag "none"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer-when-downgrade"
	}

	# HTTP/2, WebSocket, and gRPC configurations for vmess
	@vmess_h2 path /vmess-h2
	reverse_proxy @vmess_h2 unix//app/sockets/vmess.h2 {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	@vmess_ws {
		path /vmess-ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @vmess_ws unix//app/sockets/vmess.ws

	@vmess_grpc {
		path /vmess-grpc/*
		protocol grpc
	}
	reverse_proxy @vmess_grpc unix//app/sockets/vmess.grpc {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	# HTTP/2, WebSocket, and gRPC configurations for vless
	@vless_h2 path /vless-h2
	reverse_proxy @vless_h2 unix//app/sockets/vless.h2 {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	@vless_ws {
		path /vless-ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @vless_ws unix//app/sockets/vless.ws

	@vless_grpc {
		path /vless-grpc/*
		protocol grpc
	}
	reverse_proxy @vless_grpc unix//app/sockets/vless.grpc {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	# HTTP/2, WebSocket, and gRPC configurations for trojan
	@trojan_h2 path /trojan-h2
	reverse_proxy @trojan_h2 unix//app/sockets/trojan.h2 {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	@trojan_ws {
		path /trojan-ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @trojan_ws unix//app/sockets/trojan.ws

	@trojan_grpc {
		path /trojan-grpc/*
		protocol grpc
	}
	reverse_proxy @trojan_grpc unix//app/sockets/trojan.grpc {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	# HTTP/2, WebSocket, and gRPC configurations for socks
	@socks_h2 path /socks-h2
	reverse_proxy @socks_h2 unix//app/sockets/socks.h2 {
		flush_interval -1
		transport http {
			versions h2c
		}
	}

	@socks_ws {
		path /socks-ws
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @socks_ws unix//app/sockets/socks.ws

	@socks_grpc {
		path /socks-grpc/*
		protocol grpc
	}
	reverse_proxy @socks_grpc unix//app/sockets/socks.grpc {
		flush_interval -1
		transport http {
			versions h2c
		}
	}
}
